**CA06 Recommender System Using kNN** - BSAN 6070

Sarah Olsen✌

**PART 1**
 
*Data Source and Contents*

The data contains thirty movies, including data for each movie across seven genres and their IMDB ratings. The labels column values are all zeroes because we aren’t using this data set for classification or regression. You can ignore this column. The implementation assumes that all columns contain numerical data.

Additionally, there are relationships among the movies that will not be accounted for (e.g. actors, directors, and themes) when using the KNN algorithm simply because the data that captures those relationships are missing from the data set. Consequently, when we run the KNN algorithm on our data, similarity will be based solely on the included genres and the IMDB ratings of the movies.

In [1]:
#Import some useful libraries
import pandas as pd
import numpy as np

#Read in the dataset from Github
data = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')

In [2]:
#Check the first few rows
data.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [3]:
#Check the structure of the dataset
data.describe()

,Movie ID,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,48.133333,7.696667,0.233333,0.600000,0.100000,0.100000,0.133333,0.100000,0.100000,0.0
std,29.288969,0.666169,0.430183,0.498273,0.305129,0.305129,0.345746,0.305129,0.305129,0.0
min,1.000000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,27.750000,7.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,48.500000,7.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,64.250000,8.175000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,98.000000,8.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [4]:
#Check for nulls
data.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [6]:
#Define the input variables and the target variable
x = data[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = data["Movie Name"]

**PART 2**
 
*Building a Recommender System*

You are building your own movie recommendation website which uses your Recommendation Engine at
the back-end. You are going to build this back-end Recommendation Engine. Imagine a user is
navigating your recommendation website, and he/she encounters a movie named “The Post”. The user
is not sure if he/she wants to watch it, but its genres intrigue the user; he/she is curious about other
similar movies. The user scrolls down to the “More Like This” section to see what recommendations your
recommendation website will make, and the back-end algorithmic gears begin to turn.
Your website sends a request to its back-end for the 5 movies that are most similar to The Post. The back-
end has a recommendation data set exactly like ours. It begins by creating the row representation (better
known as a feature vector) for The Post, then it runs a program similar to the one below to search for
the 5 movies that are most similar to The Post, and finally sends the results back to the user at your
website.

In [7]:
#Import useful packages
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors

In [8]:
#Define the kNN model
model = NearestNeighbors(n_neighbors=5).fit(x,y)

**PART 3**
 
*What recommendations he/she will see?*

In [9]:
#Create the object containing genre information for The Post
the_post = [7.2, 1, 1, 0, 0, 0, 0, 1]

In [10]:
#Measure the distance of each of the films from The Post
distance, index = model.kneighbors([the_post])
print(index)

[[28 27 29 16  2]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

In [11]:
#Convert the np array into a list
recommendations = index.tolist()
print(recommendations)

[[28, 27, 29, 16, 2]]

In [16]:
#Display the recommendations
print("You Might Also Like:", "\n")
for i in recommendations:
  print(data.iloc[i]['Movie Name'].to_string(index=False))

You Might Also Like:

12 Years a Slave
   Hacksaw Ridge
  Queen of Katwe
  The Wind Rises
A Beautiful Mind